body{

background:#0f172a;

margin:0;

font-family:Segoe UI;
}

.friendsPage{

display:flex;

height:100vh;

}

.leftSidebar{

width:260px;

background:#111827;

padding:30px;

display:flex;

flex-direction:column;

color:white;

}

.logo{

color:#3b82f6;

margin-bottom:40px;

}

.profile{

text-align:center;

margin-bottom:40px;

}

.profile img{

width:90px;

border-radius:50%;

margin-bottom:15px;

}

.leftSidebar button{

margin-top:auto;

padding:15px;

background:#ef4444;

border:none;

color:white;

border-radius:10px;

cursor:pointer;

}

.friendsContainer{

flex:1;

padding:40px;

background:#0f172a;

overflow:auto;

}

.searchBar{

display:flex;

align-items:center;

background:#1e293b;

padding:15px;

border-radius:12px;

margin-bottom:30px;

color:white;

}

.searchBar input{

flex:1;

margin-left:15px;

background:none;

border:none;

color:white;

font-size:16px;

}

.friendCard{

display:flex;

align-items:center;

justify-content:space-between;

background:#1e293b;

padding:18px;

margin-bottom:18px;

border-radius:15px;

transition:.3s;

}

.friendCard:hover{

transform:translateY(-3px);

background:#263447;

}

.friendCard img{

width:60px;

height:60px;

border-radius:50%;

}

.friendInfo{

flex:1;

margin-left:20px;

color:white;

}

.chatBtn{

width:55px;

height:55px;

border-radius:50%;

background:#2563eb;

border:none;

color:white;

font-size:22px;

cursor:pointer;

transition:.3s;

}

.chatBtn:hover{

transform:scale(1.08);

background:#3b82f6;

}